[*.cs]

# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA1401: P/Invokes should not be visible
dotnet_diagnostic.CA1401.severity = none
